@import 'tailwindcss/theme.css';
@import 'tailwindcss/preflight.css';
@import 'tailwindcss/utilities.css';

@theme {
  --spacing: 1px;
}

.text-primary {
  color: #409eff;
}

.text-success {
  color: #67c23a;
}

.text-info {
  color: #909399;
}

.text-warning {
  color: #e6a23c;
}

.text-danger {
  color: #f56c6c;
}

.bg-radial {
  /* background: radial-gradient(#48c6ef, #6f86d6); */
  background: radial-gradient(rgba(72, 198, 239, 0.5), rgba(111, 134, 214, 0.5));
}
